debug*
checkpoints/
datasets/
models/debug*
models/flownet2*/networks/*/*egg-info
models/flownet2*/networks/*/build
models/flownet2*/networks/*/__pycache__
models/flownet2*/networks/*/dist
results/
build/
*/Thumbs.db
*/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.DS_Store
*~
