debug*
checkpoints/
datasets/
models/flownet2*
results/
build/
*/Thumbs.db
*/**/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*.DS_Store
*~
